.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e94196;
    box-shadow: 0 2px 4px rgb(88, 8, 44);
  }
  
.button-container {
    margin-top: 10px;
  }
  
.header {
    color: white;
    background-color: #e94196;
    padding: 10px;
    text-align: center;
  }

label {
    color: #e94196;
    display: block;
    margin-top: 10px;
  }

p {
    color: #e94196;
}

input[type="text"] {
    color: #4b2e3d;
    background-color:#f4ed95 ;
    margin-top: 4px;
    border: 3px solid #ffec00;
    border-radius: 3px;
}  

input[type="password"] {
    color: #4b2e3d;
    background-color:#f4ed95 ;
    margin-top: 4px;
    border: 3px solid #ffec00;
    border-radius: 3px;
}  

button {
    color: #4b2e3d;
    background-color:#f4ed95 ;
    margin-top: 4px;
    border: 3px solid #ffec00;
    border-radius: 3px; 
}